<app-breadcrumbs [title]="'Employees'" [home]="'Dashboard'" ></app-breadcrumbs>
<mat-card  class="trinta-card users-list-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <p-toast position="top-right" key="success" [life]="10000"/>
    <p-toast position="top-right" key="error" [life]="10000" />
    <mat-card-title>
      <h5 class="mt-0 mb-0">
        Employees List
      </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-end" >
        <div class="" >
          <button mat-stroked-button color="primary" routerLink="/employees/create" >Add Employee</button>
        </div>
    </div>
    <div class="table-responsive">
      <app-table [columns]="columns" [dataSource]="dataSource" [paginator]="paginator" 
      [customActions]="customActionTemplate"
      ></app-table>

      <ng-template #customActionTemplate let-element>
        <button mat-stroked-button color="accent" (click)="requestVacation(element.id)" >
          Request Vacation
        </button>
        <button mat-icon-button color="primary" class="me-1" (click)="update(element.id)" >
          <mat-icon matSuffix>mode</mat-icon>
         </button>
         <button mat-icon-button color="warn" (click)="delete(element.id)" >
           <mat-icon matSuffix>delete</mat-icon>
         </button>
      </ng-template>
    </div>
    <mat-paginator [pageSizeOptions]="[20, 10, 5]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
